div.uno {
    background-color: crimson;
    color: white;
    text-align: left;
    font-size: 25px;
}

a {
    color: white;
    text-decoration: none;
}

p.tittle {
    font-family: sans-serif;
    font-size: 50px;
    color: white;
}

p {
    text-align: center;
}

p.uno {
    font-size: 60;
}


.dos {
    background-color: yellow;
    color: black;
}

.tres {
    background-color: black;
    color: white;
}

.content {
    display: table;
    width: 80vw;
}

.colum {
    display: table-cell;
    padding: 0.1em;
    text-align: left;
}

.i {
    font-size: 15em;
    vertical-align: middle;
    color: crimson;
}

div.tres {
    background-color: dimgrey;
    color: white;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
}

nav {
    box-shadow: 0px 3px 10px;
}

a:hover {
    color: blue;
}
